<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/detalleProducto.css">
    <link rel="stylesheet" href="/css/normalize.css">

    
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div>
            <h2>Detalle del producto</h2>
            <section>
                <article class="producto">
                    <div class="img-det">
                    <div>
                        <img class="portada" src="/images/portadas/<%= product.portada %>">
                    </div>
                    <div class="detalles">
                        <p class="tit-det"><%=  product.titulo %></p>
                        <p> <%=  product.autor %></p>
                        <p><%=  product.genero %></p>
                        <!-- <p class="tit-det">Detalles</p> -->
                        <br>
                        <p class="descripcion"><%=  product.descripcion %></p>
                    </div>
                    </div>
                    <div class="right-det">
                    <div class="precio">
                        <p class="price">Precio</p>
                        <p class="price">$ <%=  product.precio %></p>
                    </div>
                    <div class="cantidad">
                        <form action="/products/carrito">
                            <p class="tit-det">
                                Cantidad
                            </p>
                                <input type="number" name="cant" id="" placeholder="                  - 1 +" >
                                <input type="submit" value="Agregar al carrito">

                        </form>
                        <form class="edit" action="/products/detalleProducto/<%= product.id %>/edit ">
                            <input type="submit" value="Editar Producto">
                        </form>
                    </div>
                
                    </div>
                </article>
            </section>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>