<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="/css/register.css">
    <%- include('../partials/head.ejs') %>
    <script src="/scripts/register.js"></script>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div class="present">
            <img src="/images/chalkLogo.png" alt="">
            <h4>
                EDITAR USUARIO!
            </h4>
        </div>
        <form class="formulario" action="/user/profile/<%= user.id %>/editProfile " method="POST" enctype="multipart/form-data">
            <p class="image">Solo se permiten 'png' , 'jpg' , 'jpeg'(No es obligatorio el avatar!)</p>
            <p class="imagentitle"></p>
            <div class="imagenPerfil">
                <img src="/images/avatar/<%= user.avatar %>" alt="" srcset="">
            </div>
            <div class="fileUp">
                <label class="fileLab" for="fileUp">
                    Subi tu avatar!
                    <i class="fa-solid fa-camera"></i>
                    <input type="file" name="avatar" id="fileUp">
                </label>
                <div class="fullname">
                    <label for="" class="name">
                        <p>Nombre</p>
                        <input type="text" name="nombre" id="" value="<%= user.nombre %>">
                    </label>
                    <% if (locals.errors && errors.nombre) { %>
                        <div class="error">
                            <p>
                                <%= errors.nombre.msg %>
                            </p>
                        </div>
                        <% } %>
                    <label for="" class="name">
                        <p>Apellido</p>
                        <input type="text" name="apellido" id="" value="<%= user.apellido %>">
                    </label>
                    <% if (locals.errors && errors.apellido) { %>
                        <div class="error">
                        <p><%= errors.apellido.msg %> </p>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="iText">
                <label for="email">
                    <p>Email</p>
                    <input type="text" name="email" id="email" value="<%= user.email %>">
                </label>
                <% if (locals.errors && errors.email) { %>
                    <div class="error">
                    <p><%= errors.email.msg %> </p>
                    </div>
                <% } %>
            </div>
            <div class="botones">
                <input type="submit" value="Editar" class="buttom">
                <input type="reset" value="Borrar Usuario" class="buttom">
            </div>
        </form>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>

</html>