<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div  class="profile">
            <div>
                <img src="/images/avatar/<%= user.avatar %>" alt="">
            </div>
            <div class="info">
                <p class="tipo">Nombre</p>
                <p class="dato"><%= user.nombre %> </p>
                <p class="tipo">Apellido</p>
                <p class="dato"><%= user.apellido%></p>
                <p class="tipo">Email</p>
                <p class="dato"><%= user.email %> </p>
            </div>
        </div>
        <div class="botones">
        <form action="/user/profile/<%= user.id %>/editContrasena" method="get">
            <button class="buttom-contra" type="submitt">Cambiar Contraseña</button>
        </form>
        <form action="/user/profile/<%= user.id %>/editProfile" method="get">
            <button class="buttom" type="submitt" >Editar</button>
        </form>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>